body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #110863;
}

header, nav, footer {
    text-align: center;
}

.logo {
    margin: 10px;
    float: left;
}
#l{
    height: 50px;
    width: 100px;
}

header {
    color: white;
    padding: 15px 0;
    margin: 10px;
    float: right;
    border-color: #710444;
    border-style: double;
    border-width: 10px;
    border-radius: 20px;
}

header p {
    margin: 0;
    font-size: 20px;
    padding: 10px;
}


nav {
    background-color: #710444;
    overflow: hidden;
    margin: 10px;
    width: 98%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #110863;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container .c1, .container .c2, .container .c3 {
    flex: 1;
    margin: 5px;
    padding: 20px;
}

.container .c1 {
    background-color: #710444;
}

.container .c2 {
    background-color: #710444;
}

.container .c3 {
    background-color: #710444;
}


footer {
    background-color: #710444;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 19px;
}
